In [1]:
import pandas as pd
import numpy as np

In [2]:
dim_states = pd.read_csv('dim_states_codes.csv')
result2014 = pd.read_csv('constituency_wise_results_2014.csv')
result2019 = pd.read_csv('constituency_wise_results_2019.csv')

In [3]:
dim_states

                   state_name abbreviation
0   Andaman & Nicobar Islands           AN
1              Andhra Pradesh           AP
2           Arunachal Pradesh           AR
3                       Assam           AS
4                       Bihar           BR
5                  Chandigarh           CH
6                Chhattisgarh           CT
7        Dadra & Nagar Haveli           DN
8                 Daman & Diu           DD
9                NCT OF Delhi           DL
10                        Goa           GA
11                    Gujarat           GJ
12                    Haryana           HR
13           Himachal Pradesh           HP
14            Jammu & Kashmir           JK
15                  Jharkhand           JH
16                  Karnataka           KA
17                     Kerala           KL
18                Lakshadweep           LD
19             Madhya Pradesh           MP
20                Maharashtra           MH
21                    Manipur           MN
22                  Meghalaya           ML
23                    Mizoram           MZ
24                   Nagaland           NL
25                     Odisha           OR
26                 Puducherry           PY
27                     Punjab           PB
28                  Rajasthan           RJ
29                     Sikkim           SK
30                 Tamil Nadu           TN
31                  Telangana           TG
32                    Tripura           TR
33              Uttar Pradesh           UP
34                Uttarakhand           UT
35                West Bengal           WB

In [4]:
result2014

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [5]:
result2019

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410

In [6]:
result2014.duplicated().sum()

0